body{
	
	font-family: 'Esteban', serif;
	margin: 0;
	padding:0;
	background-color: #fcfcfc;
}

.navbar-dark .navbar-brand {
	color: white;
	font-size: 1.5em;
}
.navbar{
	background-color: #995F40;
}
.navbar .navbar-nav .nav-item > a:hover{
    
    color: #ffffff;
}
/*.navbar-light .navbar-nav .show > .nav-link,
 .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link.show,
   .navbar-light .navbar-nav .nav-link.active {
  color: white;
}*/
.slide{
	
	margin:auto;
	padding:10px 0 20px 0;
	
}

.about img{
	
	width:70%;
	border-radius:50%;
	border:solid 2px #000000;
}

.slide h3{
	font-size: 3.5vw;
	border-top:none;
	background-color:transparent;
}
.carousel-caption {
position: absolute;
  top: 20%;
}
.slide p {
  font-size: 2.5vw;
}
.slide img{
	filter:brightness(30%);
}
.intro p{
	font-size:2em;
	color:#025d91;
	text-align:center;
}
.about {
	
	padding:0 0 50px 0;
}
.about{
	
	
	border-top:solid 4px #000000;
}
.about p{
	font-size:1.1em;
	color:black;
}
.skills{

	margin:auto;
		border-top:solid 4px #000000;
		padding:0 0 50px 0;
}
.skills li{
	font-size:1.1em;

}

.footer {
	padding: 0 0 50px 0;
	border-top:solid 4px #000000;
	margin:auto;
}
.footer a{
	font-weight: bold;
	font-size: 1.5em;
}

.up{
	
	margin:0;
	color: white;
	padding: 1px;
	text-align:center;
	
}
.up p{
	opacity: 0.6;
}
.up i{
	margin:20px 20px 15px 20px;
	font-size: 2em;
}
.up a{
	color:#ffffff;
}
h1{
	color:#ffffff;
	font-size:1.5em;
	background-color:#343a40;
	
	text-align: center;
 }

a:link{
	text-decoration:none;
}

.navbar.scrolled {
    background: #343a40;
    transition: background 500ms;
}

.form-group label{
	font-weight: bold;
	font-size: 1.2rem;
}