body{
	background-color:#ffffff;
	font-family:sans-seriff;
	padding:0;
	margin:0;
}
.nav{
	width:100%;
	height:50px;
	background-color:green;
	padding-left:10px;
	color:white;
	text-align:right;
	
}
.nav h2{
	float:left;
	font-size:2em;
	margin:10px;
	color:white;
}
.nav a
{
	color:white;
	text-align:left;
	margin:5px;
}
.nav li{
	font-size:15px;
	padding:5px;
	display:inline;
	list-style-type:none;
	margin-right:10px;
	color:white;
	} 
.intro img{
	width:70%;
	border-radius:50%;
	border:solid 10px #000000;
}
.button {
	width: 200px;
	height: 50px; 
	text-align: center; 
	font-size: 1.4em; 
	padding: 8px;
	border-radius: 3px; 
	box-shadow: #686868 2px 2px 2px; 
	background-color: #03a9f4;
	margin-bottom: 50px;
}
.intro h1{
	font-size:3em;
	color:red;
}
.intro h5{
	font-size:2em;
	text-align:center;
}
.aboutc {
	background-color:#BBDEFB;
	padding:10px 0 50px 0;
}
.about{
	width:75%;
	margin:auto;

}
.about p{
	font-size:1.25em;
	color:black;
}
.skills{
	width:75%;
	margin:auto;
}
.skills li{
	font-size:1.25em;

}
.skills h1{
	color:#00f100;
	font-size:2em;
}
.socials{
	background-color:yellow;
	padding:10px 0 50px 0;
}
.social{
	width:75%;
	margin:auto;
}
.social a{
	font-size:1.5em;
	margin:10px;
	color:black;
	text-align:center;
}
.qualification{
	width: 100%;
	padding-bottom: 50px;
}
#tab {
	margin: auto;
	background-color: #FFFFFF;
	color: #000000;
	text-align: center;
}

#tab td {
	padding: 5px 5px;
	font-size:1.25em;
}
.footer {
	width:100%;
	background-color: #EEEEEE;
	padding: 10px 0 50px 0;
}

.footer h5,h2 {
	text-align:center;
	color:black;
}
.up{
	width:100%;
	height:50px;
	background-color:green;
	text-align:center;
	margin:0;
	padding:0;
	
}
.up a{
	font-size:15px;
	color:white;
}
h1{
	color:#00f100;
	font-size:2em;
}
h5{
	color:#686868;
	font-size:1.5em;
}
a:link{
	text-decoration:none;
}
	